__pycache__
.idea

files/*.txt
标注
bacterium/bacterias.tsv

word_embed/processed.embed
word_embed/processed.w2v
word_embed/processed.w2v.syn1neg.npy
word_embed/processed.w2v.wv.vectors.npy

data
dataset
tsv


*.zip
*.gz
*.jar
*.docx
*.pdf
*.prop
*.pth